// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body{
	@media(max-width: 500px){
		width: 100%;
	}
	@media(min-width: 500px){
		width:800px;
	}
	@media(min-width:800px){
		width:900px;
	}
	margin:auto;
}

@import 'variables';
@import 'mixins';

header{
	position: sticky;
	top:0px;
	background-color: @background-color;
	width:100%;
	text-align: center;
	border-bottom:1px black solid;
	margin-bottom:.5rem;
	font-family: @font-stack;
	margin-top:.5rem;
	section{
		color:black;
		padding:.25rem;
		margin:auto;
		h1{
			font-weight: bold;
			font-size: @font-large;
			margin: .50rem;
		}
		address,section.data{
			margin:.5rem;
		}
	}

	nav{
		font-size:.8em;
		font-weight: 700;
		height:3em;
		position: absolute;
		right:.7em;
		top:.7em;
		text-transform: uppercase;
		letter-spacing: .1em;
		line-height: 3em;
	}
}

h2{
	text-align: center;
	font-size: @font-med;
	font-weight: bold;
}

section{
	width:100%;
	padding:@std-margin;
	h3{
		font-weight: bold;
		margin:.5rem;
		font-size: @font-med;
	}
	p,dl{
		margin-left:1.25rem;
	}
	ul{
		margin-left:@deep-margin;
	}
	ul{
		.flex-horizontal-wrap();
	}
	dt{
		font-weight: bold;
		margin-top:@std-margin;
		margin-bottom:.5rem;
	}
	dd{
		margin-left:@std-margin;
		margin-bottom:@std-margin;
		ul{
			flex-direction:column;
		}
	}
}

.dot{
	list-style-type: disc;
	margin:.25rem;
}

.card{
	
	h4{
		font-weight: bold;
		display: block;
		font-size: @font-small;
	}
	ul{
		.flex-horizontal();
	}
	p{
		margin-left:2.5rem;
		margin-top:.5rem;
	}
}

.toHome{
	position:absolute;
	top:2rem;
	right:1rem;
}